*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: aliceblue;
}
.sidebar{
    background-color: #333;
    color: white;
    width: 250px;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    z-index: 1;
}
.sidebar-menu{
    padding: 15px 0px;
}
.menu-item{
    padding: 5px;
    cursor: pointer;
    display: block;
    align-items: center;
}
.menu-item a{
    text-decoration: none;
    color: white;
    font-size: 15px;
    display: block;
    border-radius: 10px;
    transform: all 0.3s;
    padding: 10px;
pointer-events: none;
}
.menu-item a:hover{
    background-color: gray
}
.menu-item.active{
    background-color: blue;
}
.dropdown-toggle{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.dropdown-toggle::after{
    content:'\25BC';
    font-size: 0.8;
    transition: transform 0.3s;
}
.dropdown-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.dropdown-content.open {
    max-height: 500px; /* enough space for menu items */
}


.dropdown-item {
    padding: 10px 20px 10px 40px;
    cursor: pointer;
    transition: background-color 0.3s;
  
}
.dropdown-item a{
   text-decoration: none;
    color: white;
    font-size: 15px;
    display: block;
    border-radius: 5px;
    transform: all 0.3s;
    padding: 10px;
     
}
.dropdown-item a:hover {
    background-color:gray;

}

.home{
   margin-left: 250px; 
    position: relative;
    z-index: 10;
}
.content-home{
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    width: 500px;
    box-shadow: rgb(0, 0, 0, 0.2)0px 5px 10px;
}
.content-home h3{
    text-align: center;
    background-color: blue;
    padding:8px;
    color: white;
    font-size: 25px;
    margin-bottom: 5px;
}
.form-group{
    margin-bottom:15px;
}
.form-group label{
    font-weight: bold;
}
.form-group input{
    width: 100%;
    padding: 7px;
    border-radius: 10px;
    outline: none;
    border: 2px solid #ddd;
}
#btn{
    background-color: blue;
    color: white;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
}

.content-home1{
    background-color: white;
    padding: 10px;
    border-radius: 5px;
   
    box-shadow: rgb(0, 0, 0, 0.2)0px 5px 10px;
}
.content-home1 h3{
    text-align: center;
    background-color: blue;
    padding:8px;
    color: white;
    font-size: 25px;
    margin-bottom: 5px;
}
table{
    background-color: white;
    width: 100%;
    border-radius: 10px;
    box-shadow: rgb(0, 0, 0, 0.2)0px 4px 8px;
    margin-bottom: 40px;
    overflow: hidden;
    overflow-x: auto;
    border-collapse: collapse;

}
th{
     background-color:  rgb(235, 235, 247);padding: 15px;text-align: left;font-weight: 600;border-bottom: 1px solid #eee;font-size: 15px;color: #616060;
}
td{
    text-align: left; pointer-events: none;padding: 15px;border-bottom: 1px solid #eee;
}
 tr:hover {
            background-color: #f5f9ff;
        }
#btn1{
    background-color: blue;
    color: white;
    padding: 10px;
    text-decoration: none;
    border-radius: 10px;
}
#btn2{
    background-color: green;
    color: white;
    padding: 10px;
    text-decoration: none;
    border-radius: 10px;
}
#btn3{
    background-color: red;
    color: white;
    padding: 10px;
    text-decoration: none;
    border-radius: 10px;
}
td a {
    pointer-events: auto !important;
}